@import './base.css';

#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 100vw) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 100vw) {
  header {
    display: flex;
    place-items: center;
    justify-content: center;
    margin-top: 25vh;
    /* padding-right: calc(var(--section-gap) / 2); */
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    align-items: center;
    place-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}

section .box-container{
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 35px;

}

section .container{
  display: flex;
  gap: 100px;
  border: solid;
  border-radius: 10px;
  border-color: transparent;
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: x-large;
  width: 200px;
  height: 150px;
  place-items:  center;
  justify-content: center;
  margin-top: 5rem;
}